/* Set page defaults*/
    * {
        box-sizing: border-box;
        margin: 0px;
        padding: 0px;
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        color: white;
    }

/* Header */
    header {
        position: fixed;
        top: 0;
        left: 0;
        background-color: #231E39;
        height: 80px;
        width: 100%;
        z-index: 10;
    }

    header a {
        color: white;
        height: 80px;
    }


    #logo {
        position: fixed;
        height: 50px;
        width: 50px;
        margin: 15px;
    }

    .title {
        position: fixed;
        left: 80px;
        width: 245px;
        height: 80px;
        line-height: 75px;
        font-size: 32px;
        font-weight: lighter;
    }

    .navbar {
        position: fixed;
        width: 100%;
        height: 80px;
        font-size: 16px;
    }

    .navbar ul {
        padding-left: 325px;
        padding-right: 50px;
        width: 100%;
    }
   
    .navbar li {
        display: inline-block;
        height: 80px;
        width: 113px;
        text-align: center;
        line-height: 80px;  
    }

    .navbar li:hover {
        background-color: #41337B;
    }
    
    #navBarContact {
        float: right;
    }
    
/* Main */
    body {
        position: relative;
        background-color: #110025;
        height: 50vw;
    }
    
    main {
        position: relative;
        top: 80px;
        clear: both;
        width: 1440px;
        margin: 0 auto;
        height: 50vw;
    }

    #introduction, #invitation {
        height: 432px;
    }

    #owl_smile {
        display: inline-block;
        position: relative;
        height: 432px;
        width: 416px;
    }

    #introduction .intro {
        position: relative;
        height: 432px;
        width: 1024px;
        float: right;
    }

    #invitation .invite {
        display: inline-block;
        position: relative;
        height: 432px;
        width: 416px;
    }

    #owl_flight {
        position: relative;
        height: 432px;
        width: 1024px;
        float: right;
    }

/* Footer */
    footer {
        position: fixed;
        bottom: 0;
        background-color: #231E39;
        height: 40px;
        width: 100%;
        z-index: 10;
    }